{% extends "base.html.twig" %}

{% block body %}
    <div class="container">
        <h2>Crée une quête</h2>
        <div class="w-50 m-auto">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}