{% extends "base.html.twig" %}

{% block title %}{{ parent() }} | Politique de confidentialité{% endblock %}

{% block body %}
    {{ parent() }}

    <div class="container">
        <h2>Politique de confidentialité</h2>

        <div class="pt-4">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. In placerat condimentum est ut interdum. Donec a pharetra orci. Ut vel magna justo. Etiam vel efficitur libero, in malesuada arcu. Aenean at ullamcorper risus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Vivamus imperdiet orci in justo ullamcorper, vel pellentesque ligula consequat. Nulla facilisi. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec nec aliquet libero, pharetra imperdiet quam. Ut ultrices risus diam, eu molestie magna placerat ac.
            </p>
            <p>
                Duis euismod fringilla molestie. Maecenas ut nisi eu nulla blandit tempus at eget nunc. Nunc quis massa libero. Sed et pulvinar elit, id condimentum urna. Sed aliquet congue purus id dictum. Integer luctus ipsum et sapien molestie, non euismod orci auctor. Morbi malesuada tincidunt sagittis. Quisque ultricies nulla quis nisi iaculis, at cursus tortor hendrerit. Curabitur tincidunt augue sit amet leo rhoncus, ut tincidunt quam luctus. Curabitur scelerisque condimentum luctus. Morbi sed neque quis ipsum ullamcorper finibus. Donec aliquet venenatis sodales. Nulla facilisi. Cras porttitor urna quis convallis vulputate. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
            </p>
            <p>
                Curabitur nibh massa, imperdiet quis magna vitae, varius maximus nisi. Aenean facilisis tortor nec arcu blandit, sed luctus augue convallis. Nunc ac euismod erat. Vivamus accumsan, enim non aliquet vehicula, mi felis scelerisque nibh, ac cursus mi justo vitae leo. Integer ultrices mi sed ullamcorper pretium. Morbi venenatis faucibus erat nec ullamcorper. Ut vestibulum imperdiet mauris sed ullamcorper. Aliquam consectetur lorem in risus tempus ultrices. Sed sagittis erat ut dolor viverra mollis. Morbi vestibulum imperdiet laoreet. Nullam nec rutrum neque. Nam sit amet orci non risus hendrerit mattis a ac nibh. Vestibulum venenatis arcu neque, scelerisque suscipit mi semper eu. Vestibulum a quam ultrices, aliquet augue non, semper ligula.
            </p>
            <p>
                Etiam viverra quam sit amet ullamcorper finibus. Morbi varius scelerisque tellus, in elementum ante interdum a. Nam facilisis ex in erat posuere, ut finibus libero ultricies. Sed nec felis et odio gravida blandit. Cras bibendum, quam at luctus aliquam, odio ex faucibus nisi, at sagittis turpis nisi eu quam. Sed ullamcorper ultrices felis, quis cursus lacus. Pellentesque at sapien enim. Sed metus urna, commodo quis viverra nec, suscipit at dolor. Fusce hendrerit aliquet eros eget convallis. Phasellus sed turpis sit amet nisi placerat pretium vitae eu magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </p>
            <p>
                Donec dictum risus massa, a placerat purus elementum non. Donec velit ex, efficitur ut eros ac, viverra finibus est. Cras venenatis nisl erat, molestie dapibus mauris tempor nec. Cras molestie tortor ac tristique ultrices. Donec dui ex, porta in dignissim vel, tempor ac ante. Phasellus id nunc arcu. Donec egestas rhoncus ligula, eget consequat velit tempor eget. Praesent condimentum bibendum ante, a condimentum erat pretium vitae. Praesent mauris risus, ullamcorper in risus nec, ornare viverra lacus. Aliquam vestibulum turpis in nibh ullamcorper ultrices. Ut sed nunc libero.
            </p>
        </div>
    </div>
{% endblock %}