<p>Bonjour {{ username }} !</p>

<p>Bienvenue dans la communauté Here#O !</p>

<p>Tu peux dès à présent créer de nouvelles quêtes pour permettre à d'autres Her#o.ine.s de faire un geste éco/solidaire.</p>

<p>Pense à partager ton expérience autour de toi, plus nous serons nombreux, plus les quêtes se développeront !</p>

<p>A bientôt dans la communauté <a href="{{ url("index") }}">Here#O</a> !</p>
