{% block footer %}

    <footer class="text-muted py-5">
        <div class="container">
            <p class="float-end mb-1">
                <a href="#">Haut de page</a>
            </p>
            <copyright>&copy; 2021-2022 Tarik et Cindy</copyright>
        </div>
    </footer>
{% endblock %}