{% extends "base.html.twig" %}

{% block title %}{{ parent() }} | A propos{% endblock %}

{% block body %}
    {{ parent() }}

    <div class="container">
        <h2>A propos de Here#O</h2>

        <div class="w-75 mx-auto pt-4">
            <p>
                Here#O est né d'un projet de fin de formation avec l'ambition de créer quelque chose d'utile qui ne s'arrêterait pas au prototype mais pouvant être mis en ligne et utilisé par un maximum de personnes.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam cum debitis doloribus ea eius eligendi id inventore ipsa, ipsam labore molestiae, mollitia, nisi obcaecati omnis pariatur qui quos sunt voluptate.
            </p>
        </div>
    </div>
{% endblock %}